/********************** Core Styles *************************/
body {
    margin: 0 ;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    background-color: #ECC8B0;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align:center;
}

#main img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
    display: inline-block;
    background-color: #D12323;
    text-decoration: none;
    color: white;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 10%;
}

.btn:hover {
    background-color: #CE6F2D;
}
/********************** NAVBAR *************************/
    .logo {
      height: 43px;
      width: 43px;
      position: relative;
      right: 25px;
    }
    .topnavbar {
      background: #ECC8B0 ;
      overflow: hidden;
      top: 0;
      width: 100%;
      position: fixed;
    }
    .topnavbar a {
      display: inline-block;
      vertical-align: middle;
      color: #000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .topnavbar a:hover {
      color: #fff;
    }
    .topnavbar .icon {
      display: none;
      font-size: 15px;
    }

/********************** HEADER SHOW CASE *************************/
#showcase {
  min-height: 450px;
  text-align: center;
}

#showcase .bg-img {
  position: absolute;
  background: #EFBF8D url('img/tapuz1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.8;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap, 
#section-a .content-wrap {
  padding: 0 1.5em;
}

/********************** SECTION-a *************************/
#section-a {
  background: #CE6F2D;
  color: black;
  padding-bottom: 2em;
}
/********************** SECTION-b *************************/
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #EFBF8D;
  color: #333;
}

.card-content {
  padding: 1.5em;
}
/********************** SECTION-c *************************/
#section-c {
  background: #EFBF8D ;
  padding: 2em;
}
/********************** SECTION-d *************************/
#section-d .box {
  padding: 2em;
  color:white;
  background: #F2A75A;
}

#section-d .box:first-child {
  background: #F2A75A;
}

/********************** FOOTER *************************/

.footer {
  padding: 2em;
  text-align: center;
  background: #000;
  color: white;
}

.fa-icon {
    padding-right: 30px;
    padding-top: 5px;
}

.backtotop {
  color: white;
  text-decoration: none;
}
/************** MEDIA QUERIES ***********/

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

   #section-a .content-text p {
    padding-top: 0; 
   }

  .content-wrap, #section-b ul {
    grid-column: 2/4;
  }

  .box, .footer p {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
    }
}

/************** MEDIA QUERIES NAVGATION BAR ***********/
    @media screen and (max-width: 785px) {
      .topnavbar a:not(:first-child){
        display: none;
      }
      .topnavbar a.icon {
        display: block;
        float: left;
      }
      .topnavbar.responsive {
        position: relative;
      }
      .topnavbar.responsive a.icon {
        position: absolute;
        left: 0;
        top:0;
      }
      .topnavbar.responsive a {
        float: none;
        display: block;
        text-align: right;
      }
      .topnavbar .logo {
        padding:0;
        
      }

    }