/********************** Core Styles *************************/
body {
    margin: 0 ;
    font-family: "varela round regular", Arial, Helvetica, sans-serif;
    background-color: #ECC8B0;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align:center;
}


#main img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
    display: inline-block;
    background-color: #D12323;
    text-decoration: none;
    color: white;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 10%;
}

.btn:hover {
    background-color: #CE6F2D;
}
/********************** NAVBAR *************************/
#navbar ul {
  list-style: none;
  text-align: right;
}

#navbar li {
  display: inline-block;
  font-size: 0.6em;
  padding: 0.2em;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

.logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}



/*.topnavbar .menuicon {
  display: none;
}
*/

/********************** HEADER SHOW CASE *************************/
#showcase {
  min-height: 450px;
  text-align: center;
}

#showcase .bg-img {
  position: absolute;
  background: #EFBF8D url('paul-green-185397-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.8;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap, 
#section-a .content-wrap {
  padding: 0 1.5em;
}

/********************** SECTION-a *************************/
#section-a {
  background: #CE6F2D;
  color: black;
  padding-bottom: 2em;
}
/********************** SECTION-b *************************/
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #EFBF8D;
  color: #333;
}

.card-content {
  padding: 1.5em;
}
/********************** SECTION-c *************************/
#section-c {
  background: #D12323 ;
  padding: 2em;
}
/********************** SECTION-d *************************/
#section-d .box {
  padding: 2em;
  color:white;
}

#section-d .box:first-child {
  background: #85573D;
}

/********************** FOOTER *************************/

.footer {
  padding: 2em;
  text-align: center;
  background: #000;
  color: white;
}

.fa-icon {
    padding-right: 30px;
    padding-top: 5px;
}
/************** MEDIA QUERIES ***********/

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

   #section-a .content-text p {
    padding-top: 0; 
   }

  .content-wrap, #section-b ul {
    grid-column: 2/4;
  }

  .box, .footer p {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
    }
}

/************** MEDIA QUERIES NAVGATION BAR ***********/

